<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <h4> Conteúdos </h4>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success" (click)="goToContentRegister()">Novo conteúdo </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" (delete)="delete($event)" (edit)="goToContentRegister($event)" [source]="source">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>