<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Cadastro de Conteúdo</h5>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Usuário</label>
        <select name="" id="" class="form-control" [(ngModel)]="content.student">
          <option [value]="undefined">Todos</option>
          <option [value]="user._id" *ngFor="let user of users">{{user.fullName}}</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Título</label>
        <input type="text" [(ngModel)]="content.title" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Subtítulo</label>
        <input type="text" [(ngModel)]="content.subtitle" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Imagem principal</label>
        <input type="text" [(ngModel)]="content.mainImg" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Conteúdo</label>
        <textarea name="" id="" cols="30" rows="4" [(ngModel)]="content.description" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">ID video do youtube</label>
        <input type="text" [(ngModel)]="content.movie" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <button class="btn btn-primary" (click)="newImg()">
          <i class="fa fa-plus" aria-hidden="true"></i> Adicionar imagens
        </button>
      </div>
    </div>
    <div class="row" *ngIf="content.img">
      <div class="col-6" *ngFor='let img of arrayImg'>
      <!-- <div class="col-6"> -->
        <div class="form-group">
            <ba-picture-uploader [type]="imgCover" [guid]="img.id" [defaultPicture]="img.url"
            [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button class="btn btn-danger" (click)="goToList()">Cancelar</button> &nbsp;
      <button class="btn btn-success" (click)="save()" *ngIf="!id">Salvar</button>
      <button class="btn btn-success" (click)="update()" *ngIf="id">Atualizar</button>
    </div>
  </div>
</div>