<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<div class="container">
  <div class="messaging">
      <div class="inbox_msg">
          <div class="inbox_people">
            <div class="col-md-12 col-sm-12 headind_srch">
              <div class="col-sm-4 col-md-4 recent_heading">
                <h4>Recentes</h4>
              </div>
              <div class="col-sm-10 col-md-10 srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Pesquisar" >
                </div>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://banner2.kisspng.com/20180522/rve/kisspng-computer-icons-avatar-sport-5b03b4dbd67f95.9985958015269695638786.jpg" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Professor 1 <span class="chat_date">Dec 25</span></h5>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
                  </div>
                </div>
              </div>
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://banner2.kisspng.com/20180522/rve/kisspng-computer-icons-avatar-sport-5b03b4dbd67f95.9985958015269695638786.jpg" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Professor 2<span class="chat_date">Dec 25</span></h5>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mesgs">
            <div class="msg_history">
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://banner2.kisspng.com/20180522/rve/kisspng-computer-icons-avatar-sport-5b03b4dbd67f95.9985958015269695638786.jpg" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>Test which is a new approach to have all
                      solutions</p>
                    <span class="time_date"> 11:01 AM    |    June 9</span></div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span> </div>
              </div>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://banner2.kisspng.com/20180522/rve/kisspng-computer-icons-avatar-sport-5b03b4dbd67f95.9985958015269695638786.jpg" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>MesLorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Lorem Ipsum é simplesmente uma simulação de texto </p>
                  <span class="time_date"> 11:01 AM    |    Today</span> </div>
              </div>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://banner2.kisspng.com/20180522/rve/kisspng-computer-icons-avatar-sport-5b03b4dbd67f95.9985958015269695638786.jpg" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>Lorem Ipsum é simplesmente uma simulação de texto </p>
                    <span class="time_date"> 11:01 AM    |    Today</span></div>
                </div>
              </div>
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" placeholder="Escreva uma mensagem..." />
                <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
      </div>      
  </div>
</div>