<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Cadastro de usuário</h5>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Nome</label>
        <input type="text" [(ngModel)]="user.fullName" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">CPF</label>
        <input type="text" [(ngModel)]="user.cpf" class="form-control">
      </div>
    </div>
    <div class="col-12">
        <div class="form-group">
          <label for="">Celular</label>
          <input type="text" [(ngModel)]="user.phone" class="form-control">
        </div>
      </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">E-mail</label>
        <input type="text" [(ngModel)]="user.email" class="form-control">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Senha</label>
        <input type="password" [(ngModel)]="user.password" class="form-control">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="">Data de nascimento</label>
        <input type="date" [(ngModel)]="birth" class="form-control">
      </div>
    </div>
    <div class="col-6">
        <label for="">Selecione o tipo de usuário</label>
        <select name="" id="" [(ngModel)]="user.profileType" class="form-control">
          <option [value]="undefined" selected disabled>Tipo de usuário</option>
          <option value="ADMIN">Administrador</option>
          <option value="STUDENT">Aluno</option>
          <option value="TEACHER">Professor</option>
        </select>
      </div>
    <div class="col-6">
      <div class="form-group">
        <nb-checkbox status="success" class="col-sm-4">Ativo ?</nb-checkbox>
      </div>
    </div>
    <div class="col-6">
        <div class="form-group">
          <nb-checkbox status="success" class="col-sm-4">Bloquear Aula ?</nb-checkbox>
        </div>
      </div>
    <div class="col-12 text-right">
      <button class="btn btn-danger" (click)="goToList()">Cancelar</button> &nbsp;
      <button class="btn btn-success" (click)="save()" *ngIf="!id">Salvar</button>
      <button class="btn btn-success" (click)="update()" *ngIf="id">Atualizar</button>
    </div>
  </div>
</div>